<% include header %>
<section class="center" class="mainbody">
	<div class="topbar">
	  <h2>Log in</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">
			  <form role="form" action="/login" method="post">
			    <input type="text" class="form-control mb-3" name="username" placeholder="Username" />
			    <input type="password" class="form-control mb-3" name="password" placeholder="Password" />
  			  <button type="submit" class="cta mr-2">Log in</button>
          <a href="../"><button type="button" class="cta-grey">Cancel</button></a>
          <p class="m-2">Need an account? <a href="/register">Register</a>.
          <br />Or go <a href="../../">home</a>.</p>
			    <input type="hidden" name="redirect" value="<%=redirectURL%>" />
			  </form>
			</div>
		</div>
	</div>
</section>
<% include footer %>