<% include header %>
<section class="center" class="mainbody">
	<div class="topbar">

	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<select class="planner-dropdown">
					<option value="Monthly">Monthly</option>
					<option value="Weekly">Weekly</option>
				</select>
			</div>
			<div class="col-3">
				<h5 class="planner-header right-align">December</h5>
			</div>
			<div class="col-3">
				<h5 class="planner-header right-align">January</h5>
			</div>
			<div class="col-3">
				<h5 class="planner-header right-align">February</h5>
			</div>
		</div>
		<div>
			<div class="row planner-green">
				<div class="col-2">
					<h6 class="right-align">Income</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$2,680.58</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,500.00</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,500.00</div>
				</div>
			</div>
			<div class="row planner-green">
				<div class="col-2">
					<h6 class="right-align">Previous Balance</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$110.24</div>
				</div>
				<div class="col-3">
					<div class="right-align">$25.11</div>
				</div>
				<div class="col-3">
					<div class="right-align">$50.11</div>
				</div>
			</div>
			<div class="row planner-green bold spacer">
				<div class="col-2">
					<h6 class="right-align">Total In</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$2,790.82</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,525.11</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,550.11</div>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h6 class="right-align">Rent</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$1,225.00</div>
				</div>
				<div class="col-3">
					<div class="right-align">$1,225.00</div>
				</div>
				<div class="col-3">
					<div class="right-align">$1,225.00</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h6 class="right-align">Bills</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$680.52</div>
				</div>
				<div class="col-3">
					<div class="right-align">$700.00</div>
				</div>
				<div class="col-3">
					<div class="right-align">$700.00</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h6 class="right-align">Misc</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$360.19</div>
				</div>
				<div class="col-3">
					<div class="right-align">$350</div>
				</div>
				<div class="col-3">
					<div class="right-align">$350</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h6 class="right-align">Savings</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$500</div>
				</div>
				<div class="col-3">
					<div class="right-align">$200</div>
				</div>
				<div class="col-3">
					<div class="right-align">$200</div>
				</div>
			</div>
			<div class="row bold spacer">
				<div class="col-2">
					<h6 class="right-align">Total Out</h6>
				</div>
				<div class="col-3">
					<div class="right-align">$2,765.71</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,475.00</div>
				</div>
				<div class="col-3">
					<div class="right-align">$2,475.00</div>
				</div>
			</div>
			<div class="row planner-green bold">
				<div class="col-2">
					<h6 class="right-align">Leftover</h6>
				</div>
				<div class="col-3">
					<div class="total-big right-align">$25.11</div>
				</div>
				<div class="col-3">
					<div class="total-big right-align">$50.11</div>
				</div>
				<div class="col-3">
					<div class="total-big right-align">$75.11</div>
				</div>
			</div>
		</div>
	</div>
</section>
<% include footer %>